// @import url("https://fonts.googleapis.com/css?family=Nunito:200,600,900|Roboto+Mono:100,400,700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap");

@import "./reset.scss";

@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

html {
    font-size: 12px;

    @media (min-width: theme('screens.sm')) {
        font-size: 12px;
    }

    @media (min-width: theme('screens.md')) {
        font-size: 12px;

    }

    @media (min-width: theme('screens.lg')) {
        font-size: 14px;

    }

    @media (min-width: theme('screens.xl')) {
        font-size: 16px;
    }
}

::-moz-selection {
    background: yellow;
    color: black;
}

::selection {
    background: yellow;
    color: black;
}

body {
    // font-family: 'PT Sans', sans-serif;
    height: 84.8vh;
    background: #141419;
}

#__next {
    height: 100%;
}

#__next>div {
    height: 100%;
}